html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
}

.hidden {
  display: none;
}

.topbar-custom {
  background: black;
  border-bottom: 1px solid #ddd;
}

.flex-topbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.flex-topbar .navbar-text {
  font-size: 21px;
  font-weight: bold;
  align-items: center;
  margin-right: -9%;
}

.flex-topbar .secondLogo {
  margin-left: 10%;
  justify-content: right;
} 

.container {
  height: 100%;
  margin: 0;
  max-width: none;
  padding: 0;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
}
